<div class="row">
  <div *ngIf="user" class="col s12">
    <h3 class="col s12">welcome, {{ user.username }}</h3>
  </div>

  <form (submit)="onCreateThreadSubmit()" class="col s12">
    <!-- FIXME: difficult to click the actual inputs..? -->
    <div class="row">
      <!-- for some reason the height of this textarea ends up being 2x as big as it should be... -->
      <div class="input-field col s12 m6 push-m3">
        <textarea name="bodyText" [(ngModel)]="bodyText" id="bodyText" class="materialize-textarea" required></textarea>
        <label for="bodyText">share your thoughts</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m6 push-m8 white-text">
        <input type="submit" value="Create" class="btn waves-effect" required>
      </div>
    </div>
  </form>
</div>

<div *ngIf="threads" class="row">
  <h3 class="col s12">all threads</h3>
  <div class="row">
    <!-- FIXME: this should be just a component at some point -->
    <ul *ngFor="let thread of threads" class="col s12 collection">
      <li class="collection-item">{{thread.creator}}: {{thread.originText}}</li>
    </ul>
  </div>
</div>
