#create-button {
  background-color: #27AA89;
}


#media-button {
  background-color: #235799;
}

.tagSection {
  text-align: right;
  display: inline;
}

.tagSection p {
  display: inline;
  margin-right: 5px;
  text-align: right;
}