<div *ngIf="user" class="row">
  <div class="col s12">
    <h3 class="col s12">welcome, {{ user.username }}</h3>
  </div>

  <form (submit)="onCreateThreadSubmit()" class="col s12">
    <!-- FIXME: difficult to click the actual inputs..? -->
    <div class="row">
      <!-- for some reason the height of this textarea ends up being 2x as big as it should be... -->
      <div class="input-field col s12 m8 push-m2">
        <textarea name="bodyText" [(ngModel)]="bodyText" id="bodyText" class="materialize-textarea" required></textarea>
        <label for="bodyText">share your thoughts</label>
      </div>
    </div>
    <div class="row">
      <div class="file-field input-field col s12 m3 push-m2">
        <div id="media-button" class="btn waves-effect white-text">
          <i class="small material-icons">insert_photo</i>
          <input type="file" (change)="onFileUpload($event)" />
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder ="file..."  />
        </div>
      </div>
      <div class="input-field col s12 m3 push-m2">
        <input name="tagText" [(ngModel)]="tagText" id="tagText" type="text" class="validate">
        <label for="tagText">Tags</label>
      </div>
      <div class="input-field col s12 m2 push-m2 white-text">
        <!--FIXME: upon creating thread, refresh the page -->
        <input id="create-button" type="submit" value="Create" class="btn waves-effect" required>
      </div>
    </div>
  </form>
</div>

<div *ngIf="threads" class="row">
  <h3 class="col s12">all threads</h3>
  <div *ngIf="selectedTags.length != 0" class="filterSection">
    <p>filter by tags: </p>
    <div *ngFor="let tag of selectedTags" class="selectedTags">
      <div class="btn filter-btn">
        <p>{{ tag }}</p>
        <i (click)="clearTag(tag)" class="small material-icons">clear</i>    
      </div>
    </div>
  </div>
  <div class="row">
    <!-- FIXME: this should be just a component at some point -->
    <ul *ngFor="let thread of threads" class="col s12 collection">
      <li class="collection-item">{{ thread.creator }}: {{ thread.originText }} ---
        <a (click)="goToThread(thread._id)">{{ thread._id }}</a>
        <div class="right-align">
          <div *ngFor="let tag of thread.threadTags" class="tagSection">
            <span (click)="addTag(tag)" class="tag">
              <p>{{ tag }}</p>
            </span>
          </div>      
        </div>
      </li>
    </ul>
  </div>
</div>
