.story-col {
    height: 50vh;
    min-height: 50vh;
}

.story-box {
    text-align: center;
    margin: 0 auto 2.5vh auto;
    padding: 1vw 0;
    max-height: 100%;
}

.story-table {
    max-height: 100%;
}

.b1 {
    /* 
        change based on screen size,
        this rule should not be applied to mobile
    */
    height: 10vh;
}

.no-top-margin {
    margin-top: 0;
}

.b2 {
    height: 20vh;
}

.b3 {
    height: 38vh;
}