<!-- mindfulness resources -->
<div class="row center">
  <h1>your feed</h1>
</div>
<div class="row">
  <div *ngFor="let storyCol of storyCols">
    <div class="story-col col s12 m6">
      <div class="story-table" *ngFor="let story of storyCol.stories">
        <div class="story-box z-depth-3" [ngStyle]="{'background-color': story.backgroundColor}">
            <div *ngIf="story.boxSize == 1" class="b1">
              <h3>{{ story.str }}</h3>
              <p>Box size 1</p>
            </div>
            <div *ngIf="story.boxSize == 2" class="b2">
              <h2>{{ story.str }}</h2>
              <p>Box size 2</p>
            </div>
            <div *ngIf="story.boxSize == 3" class="b3">
              <h1>{{ story.str }}</h1>
              <p>Box size 3</p>
            </div>
        </div>
      </div>    
    </div>
  </div>
</div>