#profileInfo {
    margin-top: 20px;
}

#update-profile-picture-button {
    background-color: #235799;
    margin: auto;
}

.user-info img {
    margin: auto;
    width: 150px;
    height: 150px;
    background-color: #3268AC;
}