<div *ngIf="user" class="row">
  <div class="user-info col s12 m4">
    <h2>{{ user.name }}</h2>
    <div *ngIf="user.profilePicture; else defaultProfilePic">
      <img class="circle responsive-img z-depth-2" src="http://localhost:3000/upload/image/{{ user.profilePicture }}" alt="profile pic">
    </div>  
    <ng-template #defaultProfilePic>
      <img class="circle responsive-img" src="assets/img/blank-profile-picture.png" alt="default profile picture">
    </ng-template>
    <div class="file-field input-field z-depth-2">
      <div id="update-profile-picture-button" class="btn waves-effect">
        <span>Update Profile Picture</span>
        <input type="file" (change)="onFileUpload($event)" />
      </div>
    </div>
  </div>
  <div id="profileInfo" class="col s12 m8">
    <ul>
      <li>username: {{ user.username }}</li>
      <li>email: {{ user.email }}</li>
    </ul>
  </div>
</div>
