<div *ngIf="posts" class="row">
  <div class="col s12 m8 push-m2">
    <!-- TODO: sort posts by timestamp -->
    <div *ngFor="let post of posts" class="row postbox z-depth-4">
      <div class="row left-align teal-text text-darken-1">
        <h3>{{ post.username }}</h3>
      </div>
      <div class="row left-align">
        <div class="col s12 m8 push-m2">
            <p>{{ post.body }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col s6 left-align">
          <p>reply</p>
        </div>
        <div class="col s6 right-align">
          <p>{{ post.timestamp }}</p>
        </div>
      </div>
    </div>
    <!-- 
      FIXME: need prevent display the form if a user is not signed in 
      viewing the thread is a public option though. this means that there needs to be a change to how the posts are gathered 
    -->
    <div *ngIf="user" class="row">
      <!-- NOTE: having the reply functionality at the bottom isn't the best UX -->
      <form (submit)="onReplyThreadSubmit()" class="col s12">
        <!-- will need a similar function for replying to posts -->
        <div class="row">
          <div class="input-field col s12 m8 push-m2">
            <textarea name="replyText" [(ngModel)]="replyText" id="bodyText" class="materialize-textarea" required></textarea>
            <label for="replyText">reply to thread</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m8 push-m2 white-text">
            <input id="reply-button" type="submit" value="Reply" class="btn waves-effect" required>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!--
TODO add reply functionality
NOTE user must be logged in to see the form
-->
