.postbox {
  background-color: #CFFAEF;
}

.postbox h3 {
  color: #3268AC;;
}

.postbox .row {
  margin: 15px;
}

#reply-button {
  background-color: #235799;
}

.user-info img {
  margin: 5px;
  width: 75px;
  height: 75px;
}

.user-info h3 {
  margin-left: 10px;
}

.user-info h3, .user-info div, .user-info ng-template {
  display: inline;
}