<div *ngIf="posts" class="row">
  <div class="col s12 m8 push-m2">
    <!-- TODO: sort posts by timestamp -->
    <div *ngFor="let post of posts" class="row postbox z-depth-4">
      <div class="row user-info left-align teal-text text-darken-1">
        <div *ngIf="post.profilePicture; else defaultProfilePic">
          <img class="circle responsive-img z-depth-2" src="http://localhost:3000/upload/image/{{ post.profilePicture }}" alt="profile pic" />
        </div>  
        <ng-template #defaultProfilePic>
          <img class="circle responsive-img z-depth-2" src="assets/img/blank-profile-picture.png" alt="default profile picture" />
        </ng-template>
        <h3>{{ post.username }}</h3>
      </div>
      <div class="row">
        <div class="col s12 m8 push-m2">
          <div *ngIf="!post.media; else mediaPost">
            <p>{{ post.body }}</p>
          </div>
          <ng-template #mediaPost>
            <div class="center-align">
              <img class="responsive-img z-depth-2" src="http://localhost:3000/upload/image/{{ post.media }}" alt="media" />
            </div>
            <p>{{ post.body}}</p>
          </ng-template>
        </div>
      </div>
      <div class="row">
        <div class="col s6 left-align">
          <p>reply</p>
        </div>
        <div class="col s6 right-align">
          <p>{{ post.timestamp }}</p>
        </div>
      </div>
    </div>
    <!-- 
      FIXME: need prevent display the form if a user is not signed in 
      viewing the thread is a public option though. this means that there needs to be a change to how the posts are gathered 
    -->
    <div *ngIf="user" class="row">
      <!-- NOTE: having the reply functionality at the bottom isn't the best UX -->
      <form (submit)="onReplyThreadSubmit()" class="col s12">
        <!-- will need a similar function for replying to posts -->
        <div class="row">
          <div class="input-field col s12">
            <textarea name="replyText" [(ngModel)]="replyText" id="bodyText" class="materialize-textarea" required></textarea>
            <label for="replyText">reply to thread</label>
          </div>
        </div>
        <div class="row right-align">
          <div class="file-field input-field col s12 m8">
            <div id="media-button" class="btn waves-effect white-text">
                <span>Upload Media</span>
                <input type="file" (change)="onFileUpload($event)" />
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder ="file..."  />
             </div>
          </div>
          <div class="input-field white-text col s12 m4">
            <input id="reply-button" type="submit" value="Reply" class="btn waves-effect">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!--
TODO add reply functionality
NOTE user must be logged in to see the form
-->
