<div id="home-board" class="white-text row">
  <h1 class="center">welcome home</h1>
  <div class="row">
    <div class="col s6 push-l3 l3">
      <button [routerLink]="['/login']" id="login-btn" class="btn waves-effect">Login</button>
    </div>
    <div class="col s6 push-l3 l3">
      <button [routerLink]="['/register']" id="register-btn" class="btn waves-effect">Register</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col m4">
    <h4>Lorem Ipsum</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt dignissim eros ac tristique.
      Ut hendrerit laoreet accumsan. Donec cursus augue id quam convallis, eget maximus dolor consectetur.
      Donec luctus orci sit amet ex ultricies ullamcorper. Nunc vulputate sodales enim, ut suscipit neque</p>
  </div>
  <div class="col m4">
    <h4>Ron</h4>
    <p>The next day, the boys skip the gym and focus on tanning and laundry, while Miss ‘I Do Nothing’ Angelina gets in trouble for refusing to lift a finger around the house.
      Later on there’s MORE upset for poor Sammi, as she faces the consequences of Ronnie’s bad behaviour.
      Learning all the gritty details about his antics with other girls in an “anonymous” letter - will Ronnie finally come clean?</p>
  </div>
  <div class="col m4">
    <h4>Imagine - John Lennon</h4>
    <p>Imagine there's no heaven.
      It's easy if you try.
      No hell below us.
      Above us only sky.
      Imagine all the people living for today.</p>
  </div>
</div>
