.btn {
  min-width: 100%;
}

#home-board {
  height: 30vh;
  padding: 2vh 1vh 2vh 1vh;
  margin: 2vh 0 2vh 0;
  background-color: #74A2DC;
}

#login-btn {
  background-color: #27AA89;
}

#register-btn {
  background-color: #68DBBF;
}
