/* TODO: custom layout */
#main-nav {
  min-height: 80px;
  background-color: #3268AC;
}

#home-nav-link {
  margin-right: 100px;
}

.brand-logo {
  left: 50pX;
}

.small-icon {
  width: 90px;
  height: 90px;
}
