/* TODO: custom layout */
#main-nav {
  min-height: 80px;
  background-color: #3268AC;
}

#home-nav-link {
  margin-right: 100px;
}

.brand-logo {
  left: 50px;
  top: 10px;
}

.small-icon {
  width: 88.5px;
  height: 62.85px;
}
